<!-- Basic -->
<!-- <a routerLink="home">Home</a> <br>
<a routerLink="about">About</a><br>
<a routerLink="contact">Contact</a><br> -->

<!-- Dynamic Routing -->
<!-- <a routerLink="dhome">Home</a> <br>
<a routerLink="dabout">About</a><br>
<a routerLink="user/1">User 1</a>
<a routerLink="user/2">User 2</a>
<a routerLink="user/3">User 3</a>
<a routerLink="user/4">User 4</a>
 -->

<!-- child component -->
<a routerLink="welcome">Welcome</a> <br>
<a routerLink="location">Location</a>
<router-outlet></router-outlet>